*{
	margin:0px;
	padding:0px;
}
div{
	width:200px;
}
#div1{
	top:60px;
	left:100px;
	position: absolute;
}
input[type="button"]{
	width: 40px;
	height: 30px;
	margin-right: 5px;
	margin-top:5px;
}

input[type="text"]{
	width: 188px;
	height: 25px;
	text-align: right;
	background-color: #fff;
	border: 1px solid;
	padding-right: 5px;
	box-sizing: border-box;
}
input[type="button"]:hover{
	background-color: yellow;
	border: 1px solid;
}
button[type="submit"]{
	width: 40px;
	height: 30px;
	margin-left: 4px;
	margin-top:5px;
	position:absolute;
}
#gitlogo{
	width: 36px;
	height: 26px;
}